<html>

<head>
   
<script>
function passvalue(){
    var firstname=document.getElementById("txt").value;
    localstorage.setItem("textvalue",firstname);
    return false;
}

</script>

</head>
<body>
  
<form action="cart-5">
<input type="text" id ="txt"/>
<input type="submit" value="Click" onclick="passvalue();"/>


</form>




</body>

</html>