<html>

<head>

</head>
<body>
WElcome .....<span id="result" type="text"></span>!
<script>
    document.getElementById("result").innerHTML=localstorage.getItem("textvalue",firstname);
</script>

























</body>

</html>